body 
{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
    color:white;
}
body:before 
{
	content: '';
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: url(https://github.com/Kira262/project/blob/main/blue-bg-1.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	filter: blur(10px);
}
.signup-form 
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 350px;
	padding: 80px 40px;
	background: rgba(0, 0, 0, 0.5);
}
.avatar 
{
	position: absolute;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	top: calc(-80px/2);
	left: 190px;
}
.signup-form h2 
{
	margin: 0;
	padding: 0 0 20px;
	
	text-align: center;
	text-transform: uppercase;
}
.signup-form p 
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	
}
.signup-form input 
{
	width: 100%;
	margin-bottom: 20px;
}
.signup-form input[type=email], .signup-form input[type=password],.signup-form input[type=text] 
{
	border: none;
	border-bottom: 1px solid white;
	background: transparent;
	outline: none;
	height: 40px;
	font-size: 16px;
}
.signup-form input[type=submit] 
{
	height: 30px;
	
	font-size: 15px;
	background: red;
	cursor: pointer;
	border-radius: 25px;
	border: none;
	outline: none;
	margin-top: 15%;
}
.signup-form a 
{
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
input[type=checkbox] 
{
	width: 20%;
}
